html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #dfddd4;
  overflow: hidden;
}

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
