html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #dfddd4;
  overflow: hidden;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50% !important;
  height: 75% !important;
  transform: translate(-50%, -50%);
  object-fit: cover;
  box-shadow: inset 0rem 0rem 10rem #705ac9;
  border-radius: 1rem;
  @media only screen and (max-width: 1000px) {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    transform: none;
    border-radius: 0rem;
  }
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}

canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50% !important;
  height: 75% !important;
  transform: translate(-50%, -50%);
  object-fit: cover;
  border: 0.1rem solid #fff;
  border-radius: 1rem;
  @media only screen and (max-width: 1000px) {
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    transform: none;
    border: none;
    border-radius: 0rem;
  }
}
