.controls {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #705ac9 51.9%, #a08ee8 100%);
  z-index: 99999999;
}

.controls__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  @media only screen and (max-height: 736px) {
    gap: 2rem;
  }
}

.controls__logo {
  h1 {
    color: $darkBlue;
    font-size: 4.2rem;
    font-family: rift-soft, sans-serif;
    font-weight: 700;
    margin: 0;
    line-height: 4rem;
  }
  h5 {
    color: $white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 2.2rem;
    margin: 0;
  }
}

.controls__image {
  width: 48rem;
}

.controls__text {
  color: $white;
  width: 50rem;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 1.8rem;
  @media only screen and (max-width: 769px) {
    width: 25rem;
  }
}

.controls__button {
  color: $purpleDefault;
  font-size: 2.4rem;
  font-family: rift-soft, sans-serif;
  font-weight: 700;
  background-color: #fff;
  width: 24rem;
  height: 6rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  .material-symbols-outlined {
    font-size: 4rem;
    transition: 0.25s ease-in-out;
  }
  &:hover {
    .material-symbols-outlined {
      transform: translateX(0.5rem);
    }
  }
}

.controls__loading {
  pointer-events: none;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  opacity: 0;
}

.controls__loading__text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: #fff;
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 1.8rem;
  pointer-events: none;
  opacity: 0;
  .material-symbols-outlined {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }
  .hint {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.6;
  }
}

.controls__loading__video {
  position: absolute;
  left: 50%;
  top: -24rem;
  min-width: 18rem;
  min-height: 18rem;
  max-width: 18rem;
  max-height: 18rem;
  border-radius: 1rem;
  transform: translateX(-50%) rotate(-5deg);
  border: 0.1rem solid $white;
  video {
    width: 100% !important;
    height: 100% !important;
  }
  &::after {
    content: 'Example';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3rem;
    background-color: $darkBlue;
    display: inline-block;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: #fff;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 1.8rem;
  }
}

.controls__loading__video__label {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2rem;
  background-color: $darkBlue;
  border-radius: 1rem;
}

//
// LOADING
//

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
