/* ---> Filter 1 */

.filter--1 {
  display: none;
}

.filter--1__canvas {
  filter: blur(0.1rem);
}

.filter--1__container {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.filter--1__container__outline {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100vw;
  height: 93vh;
  border: 4rem #000 solid;
  border-radius: 10rem;
  box-sizing: border-box;
  filter: drop-shadow(0rem 0rem 5rem #000000) blur(0.5rem);
  z-index: 9;
}

.filter--1__container__corners {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border-top: 7.5vh #000 solid;
  border-right: 3.5rem #000 solid;
  border-bottom: 7.5vh #000 solid;
  border-left: 3.5rem #000 solid;
  box-sizing: border-box;
  /* filter: blur(5rem); */
  z-index: 9;
}

.filter--1__container__lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
  opacity: 0.8;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.2) 50%);
  filter: blur(0.2rem);
  background-size: 3rem 3rem;
  animation: linear 0.25s lines infinite;
}

/* ---> Filter 2 */

.filter--2 {
  filter: brightness(1.3) contrast(200%) saturate(0%);
}

/* ---> Filter 3 */

.filter--3 {
  filter: brightness(1.2) contrast(300%) saturate(0%) invert(100%) blur(1rem);
}

.filter--3__canvas {
  border: solid 1.5rem black;
  box-sizing: border-box;
}

/*  */
/* ANIMATIONS */
/*  */

@keyframes lines {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(3rem);
  }
}
